.footer {
  background-color: var(--main-hiro-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__logo--link {
    display: block;
    margin-bottom: 20px;

    font-family: var(--second-font);
    @include font($fs: 26px, $lh: 1.19);
    color: var(--primary-white-color);
  }

  &__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;

    display: block;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__strong {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--primary-white-color);
  }

  &__social--list {
    width: 206px;
    height: 44px;
  }
  &__main {
    display: flex;
    justify-content: baseline;
  }

  &__one {
    margin-right: 70px;
  }

  &__second {
    margin-top: 12px;
    margin-right: 93px;
  }

  &__third {
    margin-top: 12px;
  }

  &__form {
    display: flex;
    justify-content: center;
  }
}

.footer__link {
  &:hover,
  &:active {
    color: var(--primary-white-color);
  }
}
.address > a.link {
  color: var(--primary-white-color);
}

.footer__list .footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.address > a.footer__link {
  margin-bottom: 9px;
}

.footer__social--link {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);

  &:hover,
  &:focus {
    background: var(--button-blue-color);
  }
}

.footer__social--icon {
  width: 20px;
  height: 20px;
}

.footer__input--email {
  /* display: block; */
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
  background: #2f303a;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-btn {
  position: relative;
  padding-top: 10px;
  padding-left: 29px;
  padding-bottom: 10px;
  padding-right: 52px;

  &:hover {
    background: var(--button-hover-color);
  }
}

.footer__btn--icon {
  position: absolute;
  top: 13px;
  right: 20px;
}
