:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --button-blue-color: #2196f3;
  --button-hover-color: #188ce8;
  --main-hiro-color: #2f303a;
  --logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --bgd-button-color: #f5f4fa;
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
}
